/* Main theme CSS ========================================= */

.parallax-container {
    height: 667px!important;
  }
.parallax-height {
    height: 1025px!important;
}
.main-container {
    background-size: cover;
    background-position: center;
  }

/* Home page CSS ========================================= */

#name {
    margin-top: 150px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
  }
#fragment2 {
    margin-left: -45px;
    font-size: 60px;
    color: rgb(226, 193, 4);
    font-family: 'Merriweather', serif;
    margin-top: -60px;
}
#fragment1
{
    font-size: 60px;
    margin-left: -25px;
    margin-top: 20px;
    color: rgb(226, 193, 4);
    font-family: 'Merriweather', serif;
    width: 25em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: frag1type 7s steps(50, end) 0s infinite;
    animation: frag1type 7s steps(50, end) 0s infinite;
}
@keyframes frag1type{
    
    from { width: 0;}
    37%{width:25em;}
    49%{width:0;}
    100%{width:0;}
}

@-webkit-keyframes frag1type{

    from { width: 0;}
    37%{width:25em;}
    49%{width:0;}
    100%{width:0;}
}
#fragment2
{
    opacity: 0;
    width: 25em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: frag2type 7s steps(50, end) 3.5s infinite;

    animation: frag2type 7s steps(50, end) 3.5s infinite;
}
@keyframes frag2type{
		    
    from { width: 0; opacity:1; }
    37%{width:25em;opacity:1; }
    49%{width:0;opacity:1; }
    100%{width:0;opacity:1; }
}

@-webkit-keyframes frag2type{
    from { width: 0; opacity:1; }
    37%{width:25em;opacity:1; }
    49%{width:0;opacity:1; }
    100%{width:0;opacity:1; }
}

/* About-me page CSS ========================================= */

.about-container {
    background-color: rgb(11, 44, 54);
    padding-bottom: 100px;

}
#about {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: white;
}
#about-me-hr {
    border-bottom-color: rgb(226, 193, 4);
    border-top-color: rgb(226, 193, 4);
    background-color: rgb(226, 193, 4);
    border-inline-end-color: rgb(226, 193, 4); 
    border-radius: 3px;
    margin-bottom: 50px;
    height: 1px!important;
    margin-top: -15px;
    width: 100%;
}
#portfolio-image {
    margin-left: 10%;
    width: 85%;
    height: 100%;
    border: 2px rgb(31, 30, 30) solid;
    border-radius: 3px;
    box-shadow: 2px 2px 25px 2px rgb(24, 24, 24);
}
.about-me {
    margin-top: 5%;
}
#description {
    color: white;
    margin-top: -.5%;   
    letter-spacing: 1px;
}
#text {
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
}
#name-color {
    color: rgb(226, 193, 4);
}
#name-hr, #age-hr, #email-hr, #phone-hr, #address-hr, #freelance-hr {
    border-bottom-color: rgb(226, 193, 4);
    border-top-color: rgb(226, 193, 4);
    background-color: rgb(226, 193, 4);
    border-inline-end-color: rgb(226, 193, 4); 
    border-radius: 3px;
    width: 20%;
    margin-left: -4%;
}
#age-hr {
    width: 13%;
}
#email-hr {
    width: 19%;
}
#phone-hr {
    width: 21.5%;
}
#address-hr {
    width: 28%;
}
#freelance-hr {
    width: 33.5%;
}
#span-name, #span-age, #span-email, #span-phone, #span-address, #span-freelance {
    color: white;
    font-size: 17px;
}
#p-name, #p-age, #p-email, #p-phone, #p-address, #p-freelance {
    font-size: 20px;
    color: rgb(175, 173, 173);
    margin-left: -4.5%!important;
    margin-top: 5%;
}
.reusme-btn {
    color: black!important;
    margin-left: -4.5%!important;
    margin-top: 7%;
    background-color: rgb(226, 193, 4)!important;
}
.reusme-btn:hover {
    opacity: 0.7;
}
.fonts {
    font-size: 50px;
    color: rgb(226, 193, 4);
    margin-top: 20%;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#service-section {
    color: white;
    text-align: center;
}
.web-text {
    color: white;
    text-align: center;
}
#services {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    color: white;
}
#services-hr {
    border-bottom-color: rgb(226, 193, 4);
    border-top-color: rgb(226, 193, 4);
    background-color: rgb(226, 193, 4);
    border-inline-end-color: rgb(226, 193, 4); 
    border-radius: 3px;
    margin-top: -10 px;
    height: 1px!important;
    margin-bottom: -2%;
    width: 100%;
}

/* Portfolio page CSS ========================================= */


#portfolio-text {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    color: white;
}
#portfolio-hr {
    border-bottom-color: rgb(226, 193, 4);
    border-top-color: rgb(226, 193, 4);
    background-color: rgb(226, 193, 4);
    border-inline-end-color: rgb(226, 193, 4); 
    border-radius: 3px;
    height: 1px!important;
    margin-top: -20px;
    width: 100%;
}
.row-1 {
    margin-top: 8%;
    padding-bottom: 75px;
}
.project-pic, .giftastic-pic, .trivia-pic {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px rgb(63, 62, 62) solid;
    box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.288);
}
.image-container {
    position: relative;
    width: 550px;
    height: 350px;
    margin-left: 5.5%;
}   
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 2px 2px 25px 2px rgb(24, 24, 24);
}
.image-container:hover .project-pic {
    opacity: 0.6;
}
.image-container:hover .trivia-pic {
    opacity: 0.6;
}
.image-container:hover .giftastic-pic {
    opacity: 0.6;
}
.image-container:hover .middle {
    opacity: 1;
}
.text {
    background-color: rgba(247, 244, 244, 0.966);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 75px 175px;
}
#project-head {
    font-size: 40px;
    padding-bottom: 30px;
    text-decoration: underline;
}
#project-text {
    width: 150%;
    margin-left: -24%;
}
#trivia-head {
    font-size: 40px;
    padding-bottom: 30px;
    width: 300%;
    margin-left: -100%;
    text-decoration: underline;
}
#trivia-text {
    width: 170%;
    margin-left: -54%;
    padding-left: 60px;
}

/* Contact page CSS ========================================= */ 


.contact-container {
    background-color: rgb(41, 40, 40);
    padding-bottom: 100px;
    padding-top: 85px;
}
#contact-hr, #touch-hr  {
    border-bottom-color: rgb(226, 193, 4);
    border-top-color: rgb(226, 193, 4);
    background-color: rgb(226, 193, 4);
    border-inline-end-color: rgb(226, 193, 4); 
    border-radius: 3px;
    height: 1px!important;
    margin-top: -20px;
    width: 100%;
}
#contact-page {
    width: 100%;
    text-align: center;
    margin-top: -3%;
    color: white;
}
.submit-message {
    margin-top: 13%;
    width: 85%;
    border: 2px rgb(31, 30, 30) solid;
    border-radius: 3px;
    box-shadow: 2px 2px 25px 2px rgb(24, 24, 24);
    padding-bottom: 8%;
}
.row-name {
    color: white;
}
.row-email, .row-message {
    color: white;
    margin-top: -15%;
}
.submit-btn {
    width: 225px;
    display: block;
    margin: 0 auto;
    background-color: rgb(3,155,229)!important;
}
.modal-content {
    text-align: center;
    background-color: rgb(41, 40, 40);
    color: rgb(226, 193, 4);
}
#touch-hr {
    margin-top: -15px;
    width: 50%;
}
#get-in-touch {
    width: 100%;
    text-align: center;
    color: white;
}
.contact-section {
    margin-top: 6.3%;
    width: 40.9%!important;
    margin-left: 6%!important;
}
#contact-text {
    color: white;
    margin-top: 25px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 18px;
}
#contact-phone {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: rgb(175, 173, 173);
}
#contact-phone-hr, #contact-address-hr, #contact-email-hr, #contact-follow-hr {
    border-bottom-color: rgb(226, 193, 4);
    border-top-color: rgb(226, 193, 4);
    background-color: rgb(226, 193, 4);
    border-inline-end-color: rgb(226, 193, 4); 
    border-radius: 3px;
    height: 1px!important;
    margin-top: -.5px;
    width: 35px;
}
#contact-p-phone, #contact-p-email, #contact-p-address {
    width: 100%;
    text-align: center;
    color: white;
}
#contact-address {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: rgb(175, 173, 173);
}
#contact-address-hr {
    width: 50px;
}
#contact-email {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: rgb(175, 173, 173);
}
#contact-email-hr {
    width: 30px;
}
#contact-follow {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: rgb(175, 173, 173);
}
#contact-follow-hr {
    width: 40px;
}
#links {
    width: 100%;
    display: inline-block;
    text-align: center;
}
#github {
  padding-right: 20px;
}
.google-maps {
    margin-top: 40px;
    margin-left: 6.3%;
}
.top-btn {
    background-color: rgb(226, 193, 4)!important;
    color: black!important;
    width: 225px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}
.top-btn:hover {
    opacity: .8;
} 

/* Media Queries 960px ============================================ */ 

@media screen and (max-width: 992px) {

    .main-content {
        margin-left: 9%;
        width: 80%!important;
    }
    #portfolio-image {
        margin-left: 42%;
        margin-bottom: 30px;
    }
    .image-container {
        width: 450px;
        height: 300px;
        margin-left: 5.5%;
    }  
    .text {
        padding: 75px 115px;
    }
    iframe {
        width: 860px!important;
    }
}
/* Media Queries 570px ============================================ */ 

@media screen and (max-width: 570px) {
    
    .main-content {
        margin-left: 11%;
        width: 80%!important;
    }
    #portfolio-image {
        margin-left: 21.9%;
        margin-bottom: 30px;
    }
    .image-container {
        width: 450px;
        height: 300px;
        margin-left: 32.5%;
    }  
    .parallax-height {
        height: 1225px!important;
    }
    .trivia-pic {
        margin-top: 50px;
    }
    .giftastic-pic {
        margin-top: -40px;
    }
    .text {
        padding: 75px 115px;
    }
    .contact-section {
        width: 550px!important;
        margin-left: 14.1%!important;
    }
    .submit-message {
        width: 550px!important;
        margin-left: 18%!important;
    }
    iframe {
        width: 670px!important;
    }
}

/* Media Queries 420px ============================================ */ 

@media screen and (max-width: 420px) {
    
    #name {
        font-size: 30px;
    }
    #fragment2 {
        font-size: 40px;
    }
    #fragment1 {
        margin-top: 10%;
    }
    #about {
        font-size: 25px;
    }
    #portfolio-image {
        width: 325px;
        height: 200px;
        margin-left: 11.5%;
        margin-bottom: 30px;
    }
    .reusme-btn {
        margin-bottom: -325px;
    }
    #services {
        margin-top: 100px;
        font-size: 25px;
    }
    .fonts {
        margin-left: 37.7%; 
    }
    #portfolio-text {
        font-size: 25px;
    } 
    .image-container {
        width: 325px;
        height: 200px;
    }  
    .text {
        padding: 25px 65px;
    }
    .parallax-height {
        height: 900px!important;
    }
    #contact-page {
        font-size: 35px;
    }
    .contact-section {
        width: 325px!important;
        margin-left: 10.5%!important;
    }
    #get-in-touch {
        font-size: 25px;
    }
    .submit-message {
        width: 325px!important;
        margin-left: 10.5%!important;
    }
    iframe {
        width: 325px!important;
        margin-left: 5%;
    }
}
