/* Main theme CSS ========================================= */

.parallax-container {
    height: 685px!important;
}
.parallax-height {
    height: 1150px!important;
}
.main-container {
    background-size: cover;
    background-position: center;
}
#headers, #headers2 {
    width: 100%;
    margin-top: 50px;
    font-size: 45px;
    color: white;
}
#headers2 {
    font-size: 25px;
}
#headers-hr {
    border-bottom-color: rgb(226, 193, 4);
    border-top-color: rgb(226, 193, 4);
    background-color: rgb(226, 193, 4);
    border-inline-end-color: rgb(226, 193, 4); 
    margin-top: -15px;
    margin-bottom: 35px;
}
/* Home page CSS ========================================= */

#name {
    margin-top: 150px;
    color: white;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
  }
#fragment2 {
    height: 75px!important;
    padding-top: 20px;
    font-size: 60px;
    color: rgb(226, 193, 4);
    font-family: 'Merriweather', serif;
    margin-top: -80px;
    margin-left: -45px;
}
#fragment1 {
    height: 75px!important;
    padding-top: 20px;
    font-size: 60px;
    margin-left: -25px;
    margin-top: 20px;
    color: rgb(226, 193, 4);
    font-family: 'Merriweather', serif;
    width: 25em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: frag1type 7s steps(50, end) 0s infinite;
    animation: frag1type 7s steps(50, end) 0s infinite;
}
@keyframes frag1type{
    
    from { width: 0;}
    37%{width:25em;}
    49%{width:0;}
    100%{width:0;}
}

@-webkit-keyframes frag1type{

    from { width: 0;}
    37%{width:25em;}
    49%{width:0;}
    100%{width:0;}
}
#fragment2
{
    opacity: 0;
    width: 25em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: frag2type 7s steps(50, end) 3.5s infinite;

    animation: frag2type 7s steps(50, end) 3.5s infinite;
}
@keyframes frag2type{
		    
    from { width: 0; opacity:1; }
    37%{width:25em;opacity:1; }
    49%{width:0;opacity:1; }
    100%{width:0;opacity:1; }
}

@-webkit-keyframes frag2type{
    from { width: 0; opacity:1; }
    37%{width:25em;opacity:1; }
    49%{width:0;opacity:1; }
    100%{width:0;opacity:1; }
}

/* About-me page CSS ========================================= */

#about-container {
    background-color: rgb(11, 44, 54);
    padding-bottom: 100px;
}
.seg-color {
    background-color: rgb(11, 44, 54)!important;    
}
#portfolio-image {
    width: 100%;
}
#description {
    color: white; 
    letter-spacing: 1px;
}
#text {
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
}
#name-color {
    color: rgb(226, 193, 4);
}
#span-name, #span-age, #span-email, #span-phone, #span-address, #span-freelance {
    color: white;
    font-size: 17px;
}
#p-name, #p-age, #p-email, #p-phone, #p-address, #p-freelance {
    font-size: 20px;
    color: rgb(175, 173, 173);
    margin-left: -4.5%!important;
    margin-top: 5%;
}
.reusme-btn {
    color: black!important;
    margin-left: -4.5%!important;
    margin-top: 7%;
    background-color: rgb(226, 193, 4)!important;
}
.reusme-btn:hover {
    opacity: 0.7;
}
.experience {
    background-color: rgb(11, 44, 54)!important;
}
.icons {
    width: 70px;
    height: 70px;
    padding: 10px;
}
.handlebars {
    width: 100px;
    height: 100px;
    margin-top: -30px;
    margin-bottom: -15px; 
}
.chai {
    width: 90px;
}
.firebase {
    margin-top: -10px;
    margin-bottom: -4px;
    width: 80px;
    height: 80px;
}
#experience-section {
    color: white;
    text-align: center;
}

/* Portfolio page CSS ========================================= */
.img-background {
    background-color: rgb(11, 44, 54);
}
.card {
    width: 4250px!important;
}
.port-btn {
    background-color: rgb(226, 193, 4)!important;
}
/* Contact page CSS ========================================= */ 

#contact-container {
    background-color: rgb(41, 40, 40);
    padding-bottom: 100px;
    padding-top: 45px;
}
.form-border {
    margin-top: 50px;
    border: 2px rgb(31, 30, 30) solid;
    border-radius: 3px;
    box-shadow: 2px 2px 25px 2px rgb(24, 24, 24);
}
.submit-btn {
    width: 225px;
    display: block;
    margin: 0 auto;
    background-color: rgb(3,155,229)!important;
}
#contact-text {
    color: white;
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
}
.contact-info {
    font-size: 25px;
    padding-top: 15px;
    color:  rgb(241, 213, 53);
}
.contact-info-data{
    color: white;
    font-size: 18px;
}

.google-maps {
    margin-top: 40px;
}
.top-btn {
    background-color: rgb(226, 193, 4)!important;
    color: black!important;
    width: 225px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}
.top-btn:hover {
    opacity: .8;
} 

/* Media Queries 960px ============================================ */

@media screen and (max-width: 992px) {

}
/* Media Queries 570px ============================================

@media screen and (max-width: 570px) {
    
    .main-content {
        margin-left: 11%;
        width: 80%!important;
    }
    .parallax-height {
        height: 1225px!important;
    }
    .trivia-pic {
        margin-top: 50px;
    }
    .giftastic-pic {
        margin-top: -40px;
    }
    .text {
        padding: 75px 115px;
    }
}

/* Media Queries 420px ============================================  

@media screen and (max-width: 420px) {
    
    #name {
        font-size: 30px;
    }
    #fragment2 {
        font-size: 40px;
    }
    #fragment1 {
        margin-top: 10%;
    }
    #about {
        font-size: 25px;
    }
    .reusme-btn {
        margin-bottom: -325px;
    }
    #services {
        margin-top: 100px;
        font-size: 25px;
    }
    #portfolio-text {
        font-size: 25px;
    }  
    .text {
        padding: 25px 65px;
    }
    .parallax-height {
        height: 900px!important;
    }
    #contact-page {
        font-size: 35px;
    }
    #get-in-touch {
        font-size: 25px;
    }
}